@using FliesProject.Models.Entities.ViewModels
@model CourseUserViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MentorLayout.cshtml";
}

<div class="card mb-4 p-3 border-0 shadow-sm custom-profile-card">
    <div class="d-flex align-items-center">
        <!-- Avatar nhỏ bên trái -->
        <img src="@Url.Content(Model.User.AvatarUrl ?? "~/images/profile.png")"
             alt="Avatar"
             class="avatar-img me-3" />

        <!-- Thông tin người dùng -->
        <div class="flex-grow-1">
            <h5 class="fw-bold mb-1">@Model.User.Fullname</h5>
            <small class="text-muted">@Model.User.Role</small>
        </div>
    </div>
</div>

            <!-- Course Section -->
            <h2 class="mb-3">Khóa học của tôi</h2>
            <div class="row" id="courseList">
             
            </div>
        </div>
      

    </main>







@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoursesPicture" class="control-label"></label>
                <input asp-for="CoursesPicture" class="form-control" />
                <span asp-validation-for="CoursesPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <select asp-for="CreatedBy" class ="form-control" asp-items="ViewBag.CreatedBy"></select>
            </div>
            <div class="form-group">
                <label asp-for="Timelimit" class="control-label"></label>
                <input asp-for="Timelimit" class="form-control" />
                <span asp-validation-for="Timelimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

